# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Data exports & logs
data/*.json
data/logs/
data/exports/

# Video files (never commit these)
videos/
videos_latest/
videos_latest_latest/
